.current-savings {
  background-color: white;
  width: 45vh;
  height: 30vh;
  margin-top: 5vh;
  margin-left: 2vh;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.h4-heading {
  color: #34495e;
  text-align: left;
  font-size: 2vh;
  margin-top: 2%;
  margin-left: 2%;
}

.amount {
  color: #61dafb;
  margin-top: 5vh;
  font-size: 70px;
}
