.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #353a46;
}

.login-form {
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 15vw;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 14vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h2 {
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 1vh;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.login-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.login-form-container,
.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  background-color: #f0f0f0;
  padding: 20px;
}

.image-container {
  background-color: #ffffff;
}

.image-container img {
  width: 50%;
  height: 100%;
  object-fit: contain;
}
