.App {
  background-color: #bbbcbd;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(1px + 2vmin);
  color: #353a46;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-nav {
  background: rgba(47, 52, 63, 0.568);
  font-size: 15px;
  width: 100%;
  height: 10%;
  font-weight: bold;
  display: flex;
  align-items: left;
}

.App-nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5rem 0.3rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.App-nav a:hover {
  background-color: #34495e;
}

.App-title {
  text-align: left;
  font-size: 25px;
  margin-top: 0;
  color: #353a46;
  margin-top: 2%;
  margin-left: 1%;
}
